# Ignore build files
build/
**/dist/*

# IDE files
.vscode/

# Ignore node_modules
node_modules/

# Ignore coverage
coverage/

# Ignore hedera local node network log files
test_suites/config/hedera/local-node/network_logs

.vscode/